.bg-cover {
  background-image: url('../HTML/pantera.jpg');
  background-size: cover;
  background-position: center;
  height: 600px;
  text-align: center;
  color: white;
  padding-top: 50px;
  margin: 80px;
}

.bg-contain {
  background-image: url('../HTML/pantera2.jpg');
  background-size: contain;
  background-position: center;
  height: 300px;
  text-align: center;
  color: white;
  padding-top: 50px;
  margin: 80px;
}

h1 {
  text-align: center;
  font-size: 24px;
}
